.git/
.venv/
venv/
__pycache__/
*.pyc
.DS_Store
.ruff_cache/
.kilo/

processed_data/
input_data/
nnunet_workspace/
nnUNet_raw_data/
nnUNet_results/
nnUNet_predictions/
*.nii
*.nii.gz
*.glb

temp_ct_scan.nii.gz
temp_masks/
